body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin-top: 80px;
}

.mycards {
  margin: 0px 25px 0px 25px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; */
}

.card {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px 5px 0px 5px;
  transition: max-height 0.3s;
  overflow: hidden;
  z-index: 3;
  transform: translateY(0);
}

.card:hover {
  z-index: 4;
  transform: translateY(-10px);
}

.card-title {
  text-align: center;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  color: black;
}

.card-number {
  text-align: right;
}

.read-more {
  font-weight: bold;
}
